.timeline {
    background-color: rgb(159, 159, 255);
}
.timeline-title {
    padding-bottom: 50px;
}
.line {
    background-color: black;
    height: 5px;
    position: relative;
    transform: translateY(20px);
}
.popover-facts {
    align-items: center;
    position: relative;
    bottom: 25px;
}
#trivia {
    background-color: rgb(191, 191, 255);
    border: 5px black dotted;
}
.form-label {
    text-align: start;
    margin-left: 15px;
}
.question {
    background-color: rgba(242, 250, 255, 0.473);
    margin: 5px;
}